* {
    font-family: "Chakra Petch", sans-serif;
    font-family: "Work Sans", sans-serif;

    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

a {
    font-family: "Chakra Petch", sans-serif;
    font-family: "Work Sans", sans-serif;
    color: #ddddd7
}

body {
    background: var(--bg-color);
    /* background: radial-gradient(circle, rgba(0,27,83,1) 0%, rgba(0,9,28,1) 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #f6f8ff;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin: 22px 0;
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    width: 100%;
    /* text-align: center; */
    font-weight: 700;
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.5;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}


p {
    line-height: 1.8;
    margin-bottom: .5em;
    color: #ddddd7;
}

.card-text-muted {
    color: var(--card-text-muted-color);
    font-size: 12px;
    font-weight: 100;
}

b, strong {
    font-weight: 600;
}