* {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: rgb(0,27,83);
    background: radial-gradient(circle, rgba(0,27,83,1) 0%, rgba(0,9,28,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: .6em 0;
}

.card-text-muted {
    color: var(--card-text-muted-color);
}