@import './base.css';

:root {
    --max-width: 400px;
    --bg-color: #16153a;
    --card-color: #b19000;
    --card-text-muted-color: #eef9db;
    --card-border-radius: 6px;
    --card-padding: 6px;
    --card-list-gap: 6px;
    --pending-color: #FFBF00;
    --success-color: #129F0D;
    --danger-color: #E60026;
    --purple: #ca2bdf;
}